


.commerce-bg {
    width: 100%;
    height: inherit;
    padding-left: 20px;
    padding-right: 20px;
}
:root {
    --clr-primary: #131d24;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
  }
  
  * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--clr-gray);

  }
  
  .wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .acontainer {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
  }
  
  .banner-img {
    position: absolute;
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .transparent-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
  }
  
  .subject{
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
  }
  
  .btn {
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    background-color: var(--clr-primary);
    
  }
  

  .seemore{
      text-decoration: none;
      color: #fff;

  }
  a.seemore:visited {color:#b0bec5;text-decoration:none;}
  a.seemore:hover {color:#5da9e4;text-decoration:none;}