.para {
    padding-left: 1%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 1%;
    font-weight: normal;
}

.welcome-h2 {
    font-size: 35px;
    font-weight: bolder;
    padding-left: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-top: 10%;
}

.welcome-h3 {
    font-weight: normal;
    padding-left: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.message {
    font-size: 35px;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 10%;
}

.para-message1 {
    padding-left: 1%;
    padding-right: 10%;
    padding-top: 10%;
    font-weight: normal;
}

.para-message2 {
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 1%;
    font-weight: normal;
}

video {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.video-h2 {
    font-size: 40px;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 25%;
}

.video-para {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 5%;


}

.last {
    color: #e6fff7;
    font-weight: normal;
    font-family: sans-serif;
    font-style: normal;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.last-logo {
    width: 125px;
    height: 90px;
    padding-top: 3%;

    padding-left: 3%;

}