.h2 {
    text-align: center;
    font-style: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #292F33;
    margin-top: 0.3%;
    font-size: 30px;
    font-weight: bolder;
    

}

.h4 {
    text-align: center;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #292F33;
    padding: 1px;
    font-size: 20;
    font-weight: bold;
}

.logo {
    width: 125px; 
    height: 90px;
}
