.schl-main {
    text-align: center;
    font-style: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #151e2e;
    margin-top: 0.3%;
    font-size: 30px;
    font-weight: bold;
    

}

.schl-sub {
    text-align: center;
    font-style: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #151e2e;
    padding: 1px;
    font-size: 20;
    font-weight: 400;
}

.logo {
    width: 115px; 
    height: 90px;
}
