ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

li {
    float: left;
    font-weight: bold;
}

li a:link,li a:visited {
    background-color:#e6fff7;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    display: inline-block;
    transition:0.3s;
  }

li a:hover, a:active {
    background-color: #292F33;
    color: #55ACEE;
}